<h1> Form for Payment </h1>

<form action="/payment/results">
  <div>
    <label for="apr">
      APR(Annual Percentage Rate)
    </label>

    <input id="apr" type="text" name="user_apr">
  </div>

  <div>
    <label for="years">
      Number of years
    </label>

    <input id="years" type="text" name="user_years">
  </div>

  <div>
    <label for="present_val">
      Principal
    </label>

    <input id="present_val" type="text" name="user_pv">
  </div>

  <button>
    Calculate Monthly Payment
  </button>
</form>
